*{
    margin: 0;
    padding: 0;
}

header{
     height: 70vh;
     background-image: url(images/banner/banner3.png);
     padding-top: 250px;
     padding-right: 200px;
     text-align: right;
     align-items: center;
  
}


.h-title{
    color: white;
    font-size: 45px;
}

.h-dis{

    color: white;
    font-size: 19px;
    margin: 15px 0px;
   
}

.btn-design{

    background-color: white;
    color: rgb(9, 151, 238);
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.design{

    align-items: center;
}