*{
    margin: 0;
    padding: 0;
}

header{
     height: 100vh;
    background-image: url(images/banner/banner3.png);
    text-align: right;
    align-content: center;
}


.h-title{
    color: white;
    font-size: 45px;
}

.h-dis{

    color: white;
    font-size: 17px;
}

.btn-design{

    background-color: white;
    color: rgb(9, 151, 238);
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}